@model Product
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@{
    ViewBag.Title = ViewLocalizer["Title"];
    Layout = "_Layout";
}

<form action="HomeworkDetails" method="post" enctype="multipart/form-data">
    <div class="container">
        <!-- Назва продукту -->
        <div class="row">
            <div class="col-12">
                <h2>@Model.Title</h2>
            </div>
        </div>

        <!-- Сітка для фотографій продукту та опису -->
        <div class="row">
            <div class="col-md-6">
                <!-- Карусель для гортання фотографій -->
                <div id="carouselExampleControls" class="carousel slide border " data-ride="carousel">
                    @if (Model.Images != null && Model.Images.Any())
                    {
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Images.Count; i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img class="d-block w-100" src="data:image;base64,@(Convert.ToBase64String(Model.Images[i].ImageData))" alt="@Model.Images[i].FileName">
                                </div>
                            }
                        </div>
                        @if (Model.Images.Count > 1)
                        {
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">@ViewLocalizer["Previous"]</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">@ViewLocalizer["Next"]</span>
                            </a>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="text-black text-center py-5" style="background-color: #ccc; height: 350px;"> <!-- Змініть значення висоти тут -->
                                <i class="fas fa-image"></i> <!-- іконка зображення, використовуйте вашу власну -->
                                <h1 class="display-1 mb-0 mt-2">@ViewLocalizer["NoImage"]</h1>
                            </div>
                        </div>
                    }
                </div>
            </div>
           <div class="col-md-6">
               <div class="row">
                   <div class="col-12" style="text-align: justify">
                       @foreach (var line in Model.Description.Split([Environment.NewLine], StringSplitOptions.None))
                       {
                           <p>@line</p>
                       }
                   </div>
               </div>
           </div>
        </div>
    </div>
    
    <div class="p-4">
        @if (User.Identity!.IsAuthenticated)
        {
            <div class="form-group">
                <a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id">@ViewLocalizer["Edit"]</a>
                <a class="btn btn-primary" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Delete?')">@ViewLocalizer["Delete"]</a>
            </div>
        }
    </div>
</form>